# Pandas basic

[pandas basic](http://sacko.tistory.com/18)<br>
[Universal function(범용함수):exponential function(지수함수), logarithmic function(로그함수)](http://rfriend.tistory.com/295)<br>
아래 내용은 상기 링크를 정리한것

Pandas는 웨스 맥키니가 투자 운용회사인 AQR에 재직중이던 2008년 초에 개발하였고 현재 파이썬으로 데이터 과학을 하기 위해 사용되는도구로 사용.<br>
NumPy를 기반으로 개발.<br>
Pandas는 다음과 같은 기능을 위해 개발.<br>
* 축의 이름을 따라 데이터를 정렬는 자료구조(Data structure).<br>
다양한 소스에서 가져온 다양한 방식으로 색인된 데이터를 핸들링 가능한 기능
* 통합된 시계열 기능
* 산술연산 및 한축의 모든 값을 더하는 등의 축약연산이 가능
* 누락된 데이터의 유연한 처리기능
* SQL 같은 관계연산 수행기능.

```
>>> from pandas import Series, DataFrame
>>> import pandas as pd
>>> import numpy as np
```
위의 3줄은 습관처럼 계속해서 사용하는것을 추천
<br>
<br>

## 1.Pandas 자료구조
Pandas는 Series, DataFrame 두 자료구조가 가장 중요하다.

### 1) Series
1차원  배열 같은 구조이다.<br>
엑셀로 보면 복수의 행(row)으로 이루어진 하나의 열(column) 또는 복수의 열(column)으로 이루어진 하나의 행(row)의 값 이다.<br>
엑셀의 색인(index)처럼 데이터의 index를 표시한다.

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

위애서 볼 수 있듯이 왼쪽은 행의 index, 오른쪽은 해당 index의 값이다.<br>
index는 정수 0부터 시작한다.<br>

#### 주요 메서드

**Series.values**
* 해당 시리즈 객체의 값들만 반환

In [2]:
# ex
obj.values

array([ 4,  7, -5,  3])

**Series.index**
* 해당 시리즈의 색인(index)만 반환

In [3]:
# ex
obj.index

RangeIndex(start=0, stop=4, step=1)

**Series(배열, index = 지정하고 싶은 index list)**
* Series 객체를 생성할 때 색인을 미리 지정할 수 있다.<br>
  색인 리스트는 보통 색인의 값을 따로 저장한다.

In [4]:
# ex
data = [5, 4, 3, 1, 2]
index_list = ['a', 'b', 'c', 'd', 'e']
a = Series(data, index=index_list)
a

a    5
b    4
c    3
d    1
e    2
dtype: int64

In [5]:
# ex2
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

**Series[index]**
* 배열에서 값을 선택하거나 대입할 때는 index를 이용한다.<br>
이는 파이썬의 일반적인 자료 접근 방식과 비슷<br>

In [6]:
# ex
a['c']

3

**Series[conditions]**
* conditions에는 논리연산이 올 수 있다.<br>
a라는 Series가 있다고 했을 때, a[a>0]은 a라는 Series에서 값이 0 이상인 것만 반환하라는 의미이다.<br>
conditions는 파이썬에서 사용하는 conditions는 모두 올 수 있다.<br>
비슷하게 NumPy에서 벡터 연산을 한 것 처럼 Series도 비슷하게 산술연산을 하거나 수학 함수를 적용할 수 있다.<br>
물론 각 값에 해당 연산이 수행된다.<br>
NumPy 배열 연산을 Pandas 자료구조에도 적용할 수 있다.

In [16]:
a_2 = a * 2
a_2

a    10
b     8
c     6
d     2
e     4
dtype: int64

In [20]:
a_2[a_2 > 5]

a    10
b     8
c     6
dtype: int64

#### Universal function(범용함수)

* exponential function(지수함수)<br>
exponential function은 아래 왼쪽의 그래프처럼 $f(x) = a_0 \times a^x$인 함수를 말한다.<br>
아래[그림1] 왼쪽의 지수함수 예시 그래프는 $y=2^x$ 지수함수의 그래프로서, $(x=0, y=1), (x=1, y=2)$지점을 나타낸다.<br>
<br>
* logarithmic function(로그함수)<br>
logarithmic function은 지수함수의 역함수(inverse function)이다.<br>
즉 아래[그림1] 그래프의 예를 들자면 지수 함수였던 $y=2^x$의 역함수는 $x=2^y$함수이다.<br>
이를 표기하기 쉽도록 $ y = \log_2 x$라고 약속한것. (밑이 '2'인 로그함수)

[그림 1] exponential function(지수함수) & inverse function(로그함수)의 관계 및 그래프 예시<br>
![지수, 로그 함수](http://cfile25.uf.tistory.com/image/215A9B4858C4120421B0B4)

특히, 자연상수 e를 밑으로 하는 로그함수를 natural logarithm(자연로그)라고 하며,<br>
$y = \log_e x $ 처럼 쓰기 보다는 보통 자연상수 e를 생략하고 그냥 $y=\log x$ 혹은 $ y = \ln(x)$로 쓰곤한다.<br>

In [18]:
np.exp(a)

a    148.413159
b     54.598150
c     20.085537
d      2.718282
e      7.389056
dtype: float64

**Dictionary to Series**
* 파이썬 dictionary 객체를 Series 객체로 생성할 수도 있음<br>
**{ index:value, index:value, ....}**

In [24]:
b = {}
b = a
b

a    5
b    4
c    3
d    1
e    2
dtype: int64

**Series.isnull()**
* pd.isnull(object) <br>
pd.notnull(object)<br>
누락된 데이터가 있는지 없는지 확인할 때 사용함.<br>
Series에서는 메소드로 기능 제공

In [32]:
data2 = [1, 2, None, None, None]
c = Series(data2, index=index_list)
c

a    1.0
b    2.0
c    NaN
d    NaN
e    NaN
dtype: float64

In [33]:
pd.isnull(c)

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [34]:
pd.notnull(c)

a     True
b     True
c    False
d    False
e    False
dtype: bool

Series는 산순연산도 가능하며 Series의 색인은 모두 name속성이 있음.
* **object.name** = '@@@' // Series에 대한 이름<br>
**object.index.name** = '@@@' // index에 대한 이름

In [38]:
c.name = "series name"
c.name

'series name'

In [40]:
c.index.name = 'series index name'
c.index.name

'series index name'

### 2)Data Frame

하나의 열이 여러개 모이면 행렬의 형태가 된다.<br> 
DataFrame은 이러한 행렬(엑셀의 스프레드시트)의 자료구조를 가진다.<br>
각 열(column)에서는 서로다른 종류의 값(숫자, 문자열, 불리언 등)을 가질 수 있다.<br>
Series가 복수개 합쳐진 형태라고 생각하면 된다.<br>
하나의 Series는 동일한 자료형을 가진다.<br>
<br>
DataFrame도 Series 처럼 파이썬 사전 객체로 생성할 수 있는데 다음과 같이 한다.<br>
<br>

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np


data = {'name' : ['insung', 'jieun', 'andruw'],
       'age' : [31, 24, 13],
       'score' : [91.3, 84.2, 14.2]}
frame = DataFrame(data)
frame

   age    name  score
0   31  insung   91.3
1   24   jieun   84.2
2   13  andruw   14.2

In [2]:
frame['age']

0    31
1    24
2    13
Name: age, dtype: int64

Series와 동일하게 data에 null 값을 index(색인, row)나 column으로 넘기면 NaN 값이 저장된다.

In [3]:
frame['a'] = ['','','']
frame

   age    name  score a
0   31  insung   91.3
1   24   jieun   84.2
2   13  andruw   14.2

In [4]:
frame['score'][1] = ''
frame

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   age    name score a
0   31  insung  91.3
1   24   jieun
2   13  andruw  14.2

#### 주요 메서드
**DataFrame(data, columns = column_list, index = index_list)**<br>
<br>
**DataFrame[column_name], DataFrame.column_name**
* DataFrame은 dictionary처럼 index으로 컬럼에 접근('[]')할 수 있고<br>
속성('attribute')으로 접근하는 방법은('.')을 이용하는것이다.<br>
column(열)을 불러오고 값을 대입할 수 있으며, Series와 동일한 방식이다.<br>

In [5]:
# ex
df = frame
print(df)
print()
print(df['age'])
print()
print(df.age)

   age    name score a
0   31  insung  91.3
1   24   jieun
2   13  andruw  14.2
()
0    31
1    24
2    13
Name: age, dtype: int64
()
0    31
1    24
2    13
Name: age, dtype: int64

In [6]:
df['age'] = 0 #a 라는 열 colomn의 값은 모두 영으로 대입
df['age']

0    0
1    0
2    0
Name: age, dtype: int64

배열의 값도 대입 할수 있다.

In [7]:
df['b'] = np.arange(3.)
df['b']

0    0.0
1    1.0
2    2.0
Name: b, dtype: float64

In [8]:
df

   age    name score a    b
0    0  insung  91.3    0.0
1    0   jieun          1.0
2    0  andruw  14.2    2.0

list나 array의 값을 열(column)에 대입 할때는 대입하려는 값의 길이가 Dataframe의 크기와 같아야 한다.<br>
<br>
없는 컬럼을 대입하면 새로운 컬럼이 생성된다.

<br>
**Dataframe[column] = statement**
* 데이터프레임의 컬럼에 직접 value나 statement를 입력하여서 컬럼에 값을 대입할 수 있다.<br>
list나 arrary을 column에 대입할 때는 대입하려는 값의 길이가 DataFrame의 크기와 같아야 한다.<br>
Seies를 대입하면 index에 따라 값이 대입되고 index가 없는 것에는 대입되지 않음.<br>

In [9]:
df = DataFrame()

df['col1'] = 16.5
df

Empty DataFrame
Columns: [col1]
Index: []

In [10]:
df['col2'] = np.arange(5.)
df

   col1  col2
0   NaN   0.0
1   NaN   1.0
2   NaN   2.0
3   NaN   3.0
4   NaN   4.0

In [11]:
df['name']=frame['name']
# 논리 연산이 가능
df['col3'] = df.name == 'insung' 
df

   col1  col2    name   col3
0   NaN   0.0  insung   True
1   NaN   1.0   jieun  False
2   NaN   2.0  andruw  False
3   NaN   3.0     NaN  False
4   NaN   4.0     NaN  False

**del DataFrame['column_name']** <br>
* 파이썬 예약어 del을 사용해서 파이썬 dictionary에서 처럼 데이터프레임의 column을 삭제할 수 있다.<br>

In [12]:
del df['col1']
df

   col2    name   col3
0   0.0  insung   True
1   1.0   jieun  False
2   2.0  andruw  False
3   3.0     NaN  False
4   4.0     NaN  False

**Nested Dictionaries to DataFrame**
* 중첩된 사전 형태의 자료구조로도 데이터 프레임을 생성할 수 있다.<br>

In [13]:
data = {'a' : {'b' : 1}}
DataFrame(data)

   a
b  1

위와 같은 경우는 column이 'a'이고 row의 index가 'b'인 데이터 프레임이 생성된다.<br>
<br>
중첩된 경우라고 할지라도 DataFrame(data, index = 인덱스리스트) 인덱스리스트에 index를 집어넣으면 지정된 index로 DataFrame이 생성된다.<br>
<br>

**DataFrame.T**
* 행과 열을 Transposed 한다.<br>
Numpy와 동일하게 동작.<br>

In [14]:
df.T

           0      1       2      3      4
col2       0      1       2      3      4
name  insung  jieun  andruw    NaN    NaN
col3    True  False   False  False  False

**DataFrame.values**
* Series와 동일하게 값들을 다차원 배열로 반환한다.

In [15]:
df.values

array([[0.0, 'insung', True],
       [1.0, 'jieun', False],
       [2.0, 'andruw', False],
       [3.0, nan, False],
       [4.0, nan, False]], dtype=object)

**DataFrame.index**
* Series와 동일하며 index값을 본다.

In [16]:
df.index

RangeIndex(start=0, stop=5, step=1)

**DataFrame.columns**
* 데이터프레임에 있는 모든 열을 index 배열로 반환

In [17]:
df.columns

Index([u'col2', u'name', u'col3'], dtype='object')

**DataFrame 생성자에 입력가능한 데이터**

|Type|Contents|
|----|----|
|2차원 ndarray|데이터를 담고 있는 행렬, 행과 열을 선택해서 DataFrame으로 만들 수 있다.|
|array, list, dictionary|사전의 모든 항목은 같은 길이를 가져야한다. key값이 column이 된다.|
|Numpy 배열|배열의 사전과 같은 방식으로 된다.|
|Series 사전|Series의 각 값이 컬럼이 된다. 명시적으로 색인을 넘겨주지 않으면 각 Series의 색인이 하나로 합쳐져서 row가 된다.|
|dictionary의 dictionary|가장 외부에 있는 key가 column이 되고 내부 key가 index가 된다.|
|dictionary이나 Series리스트|리스트의 각 항목이 DataFrame의 row가 된다.|
|list나 tuple의 list|2차원 ndarray와 동일|
|다른 DataFrame|index를 따로 지정하지 않으면 이전 DataFrame의 index와 동일|
|Numpy MaskedArray|'2차원 ndarray'와 같은 방식이지만 마스크 값은 반환되는 DataFrame에서 NA값이 된다.|

### 3) Index Object
pandas의 index 객체는 각 row와 column에 대한 이름과 다른 meta data를 저장하는 객채이다.<br>
<br>
index object는 변경할 수 없어 안전하게 공유가능?<br>
<br>
pandas에는 내장 index class가 정리되어 있어 특수한 목적으로 축을 index하는 기능을 개발하기 위해서 index 클래스의sub클래스를 만들수 있다.<br>
<br>
#### index클래스
index class는 일반적인 index object이며 numpy array 형식으로 축의 이름을 표현한다.<br>
Int64index 클래스는 정수 값을 위한 색인 객체<br>
MultiIndex 는 단일 축에 여러 단계의 색인을 표현하는 계층적 index 객체, tuple의 array와 유사<br>
DatetimeIndex 는 나노초 타임스탬프를 저장함 datetime62 dtype<br>
PeriodIndex는 기간데이터를 위한 특수한 index<br>

#### 주요 메서드

**index.append**
* 추가적인 index객체를 덧붙여 새로운 index반환.

In [1]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [2]:
test = DataFrame()

In [4]:
test['a'] = np.arange(6.)
test

     a
0  0.0
1  1.0
2  2.0
3  3.0
4  4.0
5  5.0

In [5]:
test.index

RangeIndex(start=0, stop=6, step=1)

In [8]:
test.index.append