# Pandas basic

[pandas basic](http://sacko.tistory.com/18)<br>
[Universal function(범용함수):exponential function(지수함수), logarithmic function(로그함수)](http://rfriend.tistory.com/295)<br>
아래 내용은 상기 링크를 정리한것

Pandas는 웨스 맥키니가 투자 운용회사인 AQR에 재직중이던 2008년 초에 개발하였고 현재 파이썬으로 데이터 과학을 하기 위해 사용되는도구로 사용.<br>
NumPy를 기반으로 개발.<br>
Pandas는 다음과 같은 기능을 위해 개발.<br>
* 축의 이름을 따라 데이터를 정렬는 자료구조(Data structure).<br>
다양한 소스에서 가져온 다양한 방식으로 색인된 데이터를 핸들링 가능한 기능
* 통합된 시계열 기능
* 산술연산 및 한축의 모든 값을 더하는 등의 축약연산이 가능
* 누락된 데이터의 유연한 처리기능
* SQL 같은 관계연산 수행기능.

```
>>> from pandas import Series, DataFrame
>>> import pandas as pd
>>> import numpy as np
```
위의 3줄은 습관처럼 계속해서 사용하는것을 추천
<br>
<br>

## 1.Pandas 자료구조
Pandas는 Series, DataFrame 두 자료구조가 가장 중요하다.

### 1) Series
1차원  배열 같은 구조이다.<br>
엑셀로 보면 복수의 행(row)으로 이루어진 하나의 열(column) 또는 복수의 열(column)으로 이루어진 하나의 행(row)의 값 이다.<br>
엑셀의 색인(index)처럼 데이터의 index를 표시한다.

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

위애서 볼 수 있듯이 왼쪽은 행의 index, 오른쪽은 해당 index의 값이다.<br>
index는 정수 0부터 시작한다.<br>

#### 주요 메서드

**Series.values**
* 해당 시리즈 객체의 값들만 반환

In [2]:
# ex
obj.values

array([ 4,  7, -5,  3])

**Series.index**
* 해당 시리즈의 색인(index)만 반환

In [3]:
# ex
obj.index

RangeIndex(start=0, stop=4, step=1)

**Series(배열, index = 지정하고 싶은 index list)**
* Series 객체를 생성할 때 색인을 미리 지정할 수 있다.<br>
  색인 리스트는 보통 색인의 값을 따로 저장한다.

In [4]:
# ex
data = [5, 4, 3, 1, 2]
index_list = ['a', 'b', 'c', 'd', 'e']
a = Series(data, index=index_list)
a

a    5
b    4
c    3
d    1
e    2
dtype: int64

In [5]:
# ex2
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

**Series[index]**
* 배열에서 값을 선택하거나 대입할 때는 색인을 이용한다.<br>
이는 파이썬의 일반적인 자료 접근 방식과 비슷<br>

In [6]:
# ex
a['c']

3

**Series[conditions]**
* conditions에는 논리연산이 올 수 있다.<br>
a라는 Series가 있다고 했을 때, a[a>0]은 a라는 Series에서 값이 0 이상인 것만 반환하라는 의미이다.<br>
conditions는 파이썬에서 사용하는 conditions는 모두 올 수 있다.<br>
비슷하게 NumPy에서 벡터 연산을 한 것 처럼 Series도 비슷하게 산술연산을 하거나 수학 함수를 적용할 수 있다.<br>
물론 각 값에 해당 연산이 수행된다.<br>
NumPy 배열 연산을 Pandas 자료구조에도 적용할 수 있다.

In [16]:
a_2 = a * 2
a_2

a    10
b     8
c     6
d     2
e     4
dtype: int64

In [20]:
a_2[a_2 > 5]

a    10
b     8
c     6
dtype: int64

#### Universal function(범용함수)

* exponential function(지수함수)<br>
exponential function은 아래 왼쪽의 그래프처럼 $f(x) = a_0 \times a^x$인 함수를 말한다.<br>
아래[그림1] 왼쪽의 지수함수 예시 그래프는 $y=2^x$ 지수함수의 그래프로서, $(x=0, y=1), (x=1, y=2)$지점을 나타낸다.<br>
<br>
* logarithmic function(로그함수)<br>
logarithmic function은 지수함수의 역함수(inverse function)이다.<br>
즉 아래[그림1] 그래프의 예를 들자면 지수 함수였던 $y=2^x$의 역함수는 $x=2^y$함수이다.<br>
이를 표기하기 쉽도록 $ y = \log_2 x$라고 약속한것. (밑이 '2'인 로그함수)

[그림 1] exponential function(지수함수) & inverse function(로그함수)의 관계 및 그래프 예시<br>
![지수, 로그 함수](http://cfile25.uf.tistory.com/image/215A9B4858C4120421B0B4)

특히, 자연상수 e를 밑으로 하는 로그함수를 natural logarithm(자연로그)라고 하며,<br>
$y = \log_e x $ 처럼 쓱ㅣ 보다는 보통 자연상수 e를 생략하고 그냥 $y=\log x$ 혹은 $ y = \ln(x)$로 쓰곤한다.<br>

In [18]:
np.exp(a)

a    148.413159
b     54.598150
c     20.085537
d      2.718282
e      7.389056
dtype: float64

**Dictionary to Series**
* 파이썬 dictionary 객체를 Series 객체로 생성할 수도 있음<br>
**{ index:value, index:value, ....}**

In [24]:
b = {}
b = a
b

a    5
b    4
c    3
d    1
e    2
dtype: int64

**Series.isull()**
* pd.isnull(object) <br>
pd.notnull(object)<br>
누락된 데이터가 있는지 없는지 확인할 때 사용함.<br>
Series에서는 메소드로 기능 제공

In [32]:
data2 = [1, 2, None, None, None]
c = Series(data2, index=index_list)
c

a    1.0
b    2.0
c    NaN
d    NaN
e    NaN
dtype: float64

In [33]:
pd.isnull(c)

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [34]:
pd.notnull(c)

a     True
b     True
c    False
d    False
e    False
dtype: bool

Series는 산순연산도 가능하며 Series의 색인은 모두 name속성이 있음.
* **object.name** = '@@@' // Series에 대한 이름<br>
**object.index.name** = '@@@' // index에 대한 이름

In [38]:
c.name = "series name"
c.name

'series name'

In [40]:
c.index.name = 'series index name'
c.index.name

'series index name'

### 2.Data Frame

하나의 열이 여러개 모이면 행렬의 형태가 된다.<br> 
DataFrame은 이러한 행렬(엑셀의 스프레드시트)의 자료구조를 가진다.<br>
각 열(column)에서는 서로다른 종류의 값(숫자, 문자열, 불리언 등)을 가질 수 있다.<br>
Seiries가 복수개 합쳐진 형태라고 생각하면 된다.<br>
하나의 Series는 동일한 자료형을 가진다.<br>
<br>
DataFrame도 Series 처럼 파이썬 사전 객체로 생성할 수 있는데 다음과 같이 한다.<br>
<br>

In [20]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

data = {'name' : ['insung', 'jieun', 'andrew'],
       'age' : [31, 24, 13],
       'score' : [91.3, 84.2, 14.2]}
frame = DataFrame(data)
frame

   age    name  score
0   31  insung   91.3
1   24   jieun   84.2
2   13  andrew   14.2

In [21]:
frame['age']

0    31
1    24
2    13
Name: age, dtype: int64

Series와 동일하게 data에 null 값을 index(색인, row)나 column으로 넘기면 NaN 값이 저장된다.

In [34]:
frame['a'] = ['','','']
frame

   age    name  score    b a
0    0  insung   91.3  0.0
1    0   jieun   84.2  1.0
2    0  andrew   14.2  2.0

In [41]:
frame['score'][1] = ''
frame

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   age    name score    b a
0    0  insung  91.3  0.0
1    0   jieun        1.0
2    0  andrew  14.2  2.0

#### 주요 메서드
**DataFrame(data, columns = column_list, index = index_list)**<br>
<br>
DataFrame[column_name], DataFrame.column_name
* DataFrame은 dictionary처럼 index으로 컬럼에 접근('[]')할 수 있고<br>
속성('attribute')으로 접근하는 방법은('.')을 이용하는것이다.<br>
column(열)을 불러오고 값을 대입할 수 있으며, Series와 동일한 방식이다.<br>

In [43]:
# ex
df = frame
print(df)
print()
print(df['age'])
print()
print(df.age)

   age    name score    b a
0    0  insung  91.3  0.0
1    0   jieun        1.0
2    0  andrew  14.2  2.0
()
0    0
1    0
2    0
Name: age, dtype: int64
()
0    0
1    0
2    0
Name: age, dtype: int64

In [36]:
df['age'] = 0 #a 라는 열 colomn의 값은 모두 영으로 대입
df['age']

0    0
1    0
2    0
Name: age, dtype: int64

배열의 값도 대입 할수 있다.

In [37]:
df['b'] = np.arange(3.)
df['b']

0    0.0
1    1.0
2    2.0
Name: b, dtype: float64

In [38]:
df

   age    name  score    b a
0    0  insung   91.3  0.0
1    0   jieun   84.2  1.0
2    0  andrew   14.2  2.0

list나 array의 값을 열(column)에 대입 할때는 대입하려는 값의 길이가 Dataframe의 크기와 같아야 한다.<br>
<br>
없는 컬럼을 대입하면 새로운 컬럼이 생성된다.

<br>
Dataframe[column] = statement
*